.feynman__link {
  display: flex;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 4;
}
.feynman__link:hover {
  opacity: 0.5;
  transition: color 2s ease-in 2s;
}