.khan__buy-link {
  margin-left: 48px;
  display: flex;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: color 2s ease-in 2s;
}